/*reglas generales*/
html {
  font-size: 62.5%; /* 1rem = 10px (más fácil de calcular) */
}

.resaltado {
    color: #037BC0;
  }

.hero {
  background: url('../images/principal.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  min-height: 40rem;
  background-position: 100% 90%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem; 
  line-height: 2; 
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 4rem;
}


/*Media Query*/
/* Escritorio */
@media (min-width: 993px) {
  h1 {
    font-size: 5rem;
  }
  .descripcion {
    font-size: 1.8rem;
  }
  .hero {
    height: 25rem;
  }
}
/* Móviles pequeños */
@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  .descripcion {
    font-size: 1.4rem;
    padding: 10px;
  }
  .hero {
    height: 15rem;
  }
}

/** Reescribir colores */
:root {
  --bs-blue: #037BC0;   /* azul personalizado */
  --bs-green: #8cbc00;  /* verde personalizado */
}
/** Productos */
.producto-img {
      width: 50%;
      height: auto;
      border-radius: 10px;
    }

    .descripcion {
      background-color: var(--bs-blue); 
      color: white;              
      padding: 20px;             
      border-radius: 10px;      
    }

    .btn-success {
      background-color: var(--bs-green);
      border-color: var(--bs-green);
    }